:root {
    --red: #FC4445;
    --teal: #3FEEE6;
    --darkblue: #55BCC9;
    --fadeblue: #97CAEF;
    --lightblue: #CAFAFE;
}

body {
    background-color: var(--teal);
}

.navbar {
    background: var(--teal);
}

.circleImage {
    border-radius: 50%;
    background-color: black;
}

.bigImage {
    width: 300px;
    height: 300px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'item1 item2 item3'
    ;
    background-color: var(--lightblue);
    padding: 10px;
    border: #FC4445;
    border-style: double;
}

.skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    'areaOne areaTwo areaThree'
    'areaFour areaTwo areaThree'
    ;
}

.skillItemOne {
    grid-area: areaOne;
    background-color: #FC4445;
}

.skillItemTwo {
    grid-area: areaTwo;
    background-color: #55BCC9;
}

.skillItemThree {
    grid-area: areaThree;
    background-color: #97CAEF;
}

.skillItemFour {
    grid-area: areaFour;
    background-color: #3FEEE6;
}







.item1 {
    border: #FC4445;
    border-style: double;
    grid-area: item1;
    justify-self: center;
}

.item2 {
    border: #FC4445;
    border-style: double;
    grid-area: item2;
    justify-self: center;
}

.item3 {
    border: #FC4445;
    border-style: double;
    grid-area: item3;
    justify-content: center;
}

.hero {
    text-align: center;
    background-color: var(--red);
}