:root {
    --red: #FC4445;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background: white;
    color: white;
}

.circleImage {
    border-radius: 50%;
    background-color: black;
}

.bigImage {
    width: 300px;
    height: 300px;
}

.placeholder {
    padding: 400px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'item1 item2 item3'
    ;
    background-color: black;
    padding: 50px;
}

.skillsContainer {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    'areaOne areaTwo areaThree'
    'areaFour areaTwo areaThree'
    ;
}

.skillItemOne {
    grid-area: areaOne;
    background-color: black;
}

.skillItemTwo {
    grid-area: areaTwo;
    background-color: black;
}

.skillItemThree {
    grid-area: areaThree;
    background-color: black;
}

.skillItemFour {
    grid-area: areaFour;
    background-color: black;
}







.item1 {
    grid-area: item1;
    justify-self: center;
    background-color: black;
}

.item2 {
    grid-area: item2;
    justify-self: center;
    background-color: black;
}

.item3 {
    grid-area: item3;
    justify-self: center;
    background-color: black;
}



.hero {
    text-align: center;
    background-color: black;
}